*~ 
*.tmp
**/.Rhistory
Week2/Results/temporary.tmp Week3/Results/Girko.pdf Week3/Results/MyBars.pdf Week3/Results/MyData.csv Week3/Results/MyFirst-ggplot2-Figure.pdf Week3/Results/MyLinReg.pdf Week3/Results/pp_plot.pdf Week3/Results/PP_plot.pdf Week3/Results/PP_Regress_Results.csv Week3/Results/PP_Results.csv Week3/Results/Pred_Prey_Overlay.pdf Week3/Results/Pred_Subplots.pdf Week3/Results/Prey_Subplots.pdf Week3/Results/SizeRatio_Subplots.pdf Week3/Results/test.txt Week3/Results/TreeHts.csv
